<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <h4>User Data</h4>
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" id="fullname" formControlName="fullname" placeholder="Joe Doe">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <h4>Payment Details</h4>
    <div class="form-group">
        <label for="cardName">Name on Card</label>
        <input type="text" class="form-control" id="cardName" formControlName="cardName" placeholder="Joe Doe">
    </div>
    <div class="form-group">
        <label for="cardNumber">Debit/Credit Card Number</label>
        <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
            placeholder="0000 0000 0000 0000">
    </div>
    <div class="form-group">
        <label for="expirationDate">Expiration Date</label>
        <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate"
            [min]="getTodayStartDate()">
    </div>
    <div class="form-group">
        <label for="securityCode">Security Code</label>
        <input type="number" class="form-control" id="securityCode" formControlName="securityCode">
    </div>
    <div class="form-group">
        <label for="billingZip">Billing Zip code</label>
        <input type="number" class="form-control" id="billingZip" formControlName="billingZip">
    </div>
    <button type="submit" class="btn btn-primary">Complete Booking</button>
</form>


<!-- <form class="user-form">
    <h4>User Data</h4>
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" id="fullname" placeholder="Joe Doe">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>



    <h4>Payment Details</h4>
    <div class="form-group">
        <label for="name">Name on Card</label>
        <input type="text" class="form-control" id="name" placeholder="Joe Doe">
    </div>
    <div class="form-group">
        <label for="name">Debit/Credit Card Number</label>
        <input type="text" class="form-control" id="cardnumber" placeholder="0000 0000 0000 0000">
    </div>
    <div class="form-group">
        <label for="expirationDate">Expiration Date</label>
        <input type="date" class="form-control" id="expirationDate">
    </div>
    <div class="form-group">
        <label for="securityCode">Security Code</label>
        <input type="number" class="form-control" id="securityCode">
    </div>
    <div class="form-group">
        <label for="expirationDate">Billing Zip code</label>
        <input type="number" class="form-control" id="expirationDate">
    </div>
    <button type="submit" class="btn btn-primary">Complete Booking</button>
</form> -->