<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted footer">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        WanderLust
                    </h6>
                    <p>
                        Your next go to companion for travel.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Company
                    </h6>
                    <p>
                        <a routerLink="/" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Discover</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Apartments</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Contact Us</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Explore
                    </h6>
                    <p>
                        <a routerLink="/" class="text-reset">Australia</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">New Zealand</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">United Kingdom</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Maldives</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>Tbilisi 0154, Georgia</p>
                    <p>+ 0 322 2 567 88</p>
                    <p>+ 0 322 2 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="/">Mariammiz</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->