.product-card {
    position: relative;
  }
  
  .product-card:hover .btn-primary {
    display: block;
  }
  
  .btn-primary {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }