<div *ngIf="apartmentDetailed">
    <img src={{apartmentDetailed.photo}} alt="" class="detail-img">
    <div class="main">
        <h2 class="card-title">{{apartmentDetailed.name}}</h2>
        <h6 class="card-subtitle mb-2 text-muted">⭐ {{apartmentDetailed.stars}} | {{apartmentDetailed.reviews}} Reviews
        </h6>
        <h6 class="card-text text-muted">{{apartmentDetailed.address}}, {{apartmentDetailed.city}},
            {{apartmentDetailed.country}}</h6>
        <h5 class="h5-style">Overview</h5>
        <p class="card-text">{{apartmentDetailed.description}}</p>
        <hr>
        <h5 class="h5-style">Top Facilities</h5>
        <ul>
            <li *ngFor="let feature of apartmentDetailed.features">{{ feature }}</li>
        </ul>
        <hr>
        <app-room-details></app-room-details>
        <br>
        <button class="btn btn-primary" type="submit" (click)="reserveApartment()">Reserve Apartment!</button>
    </div>
</div>